<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    <h1> About </h1>
    <p> This is the first web app I have ever made. It was buit for a school project where we were given a week to come up with an idea and build the application. I will admit that it is not my favorite idea and might not be that useful, but it did really help me learn a lot about backend web development.</p>
    {% endblock %}
  </body>
</html>
